<form [formGroup]="form">
    <fieldset>
        <legend>Add Scenario</legend>
        <div class="form-field">
            <label>Name:</label>
            <input name="name" formControlName="name">
        </div>
        <div class="form-field">
            <label>Description:</label>
            <input name="description" formControlName="description">
        </div>
        <div class="form-field">
            <label>File:</label>
            <input type="file" name="currentInput" (change)="onFileSelected($event)">
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" (click)="addScenario()">Add new Scenario</button>
    </div>
</form>
<h2>Added Scenarios</h2>
<ul>
    <li *ngFor="let scenario of scenarios">
        <h4>{{ scenario.getName() }}</h4>
        <p>{{ scenario.getDescription() }}</p>
        <p>{{ scenario.getInitcode() }}</p>
        <p>{{ scenario.getGuid() }}</p>
    </li>
</ul>
